<div class="jumbotron">
<div class="text">
<p><b>Details of the parties entering into the contract</b></p>

	<p>This agreement is hereby entered into between Onlineproz.com (hereinafter referred to as “we”, “us”, “SEO”, “our”) and Al Warqaa Exhibitions Organizing hereinafter referred to as “Client”, “you”, “him”, “his”) on Feb/11/2015.</p>

<p><b>Representations and Warranties</b></p>

<p>Onlineproz.com agrees to provide Client with Search Engine Optimization and Reporting Services (hereinafter referred to as “SEO”) as described in this agreement for the period specified on the first page of this contract which starts on Feb/11/2015. We are authorized to use the specific keywords and/or phrases for developing and improving the ranking of the Client’s site(s), http://alwarqaaexh.com/ in the search engines (Google, Yahoo and Bing).</p>

<p><b>Website Terms & Conditions:</b></p>

<p><b>1. Web Hosting.</b> The Client understands that any web hosting services require a separate contract with a web hosting service.The Client agrees to select a qualified web hosting service which allows OnlineproZ.com full access to the website. The Client understands that certain features may need to be activated and/or purchased from the web hosting service in order for the web site to function properly. OnlineproZ.com will work with the Client to ensure the correct hosting features are installed on the hosting server. If needed, OnlineproZ.com can also provide a list of web host providers who support the technology required for the Client’s website. Onlineproz.com may also host the client’s website at additional charge.</p>

<p><b>2. Website Maintenance.</b>  The Client understands that once the website is completed and installed to the Clients web space, the Client takes on the responsibility of maintaining all aspects of the site, such as text, images, video and sound files. OnlineproZ.com will provide a list of Content Management System (CMS) only if the client requested a CMS system at the start of the contract. CMS will assist the Client in maintaining the site. The Client is responsible for the cost of the CMS. OnlineproZ.com will make changes to the site per the Clients request which will be billed at the rate of $75/hr.</p>

<p><b>3. Assignment of Project.</b>  OnlineproZ.com reserves the right to assign subcontractors to this project to insure the right fit for the job as well as on-time completion.</p>

<p><b>4. Legal. </b>OnlineproZ.com does not warrant that the functions contained in the website will be uninterrupted or error-free. In no event will OnlineproZ.com be liable to the Client or any third party for any damages, including any lost profits, lost savings or other incidental, consequential or special damages arising out of the operation of or inability to operate these web pages or website. If any provision of this agreement shall be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from this agreement and shall not affect the validity and enforceability of any remaining provisions.</p>

<p><b>5. Copyrights and Trademarks.</b>  The Client represents to OnlineproZ.com and unconditionally guarantees that any elements of text, graphics, photos, designs, trademarks, or other artwork furnished to OnlineproZ.com for inclusion in web pages are owned by the Client, or that the Client has permission from the rightful owner to use each of these elements, and will hold harmless, protect, and defend OnlineproZ.com and its subcontractors from any claim or suit arising from the use of such elements furnished by the Client.</p>

<p><b>6. Copyright to OnlineproZ.com </b>  through an agreement has been provided the use of a 3rd party website template. The template may be used by OnlineproZ.com to build a website for the Client. These templates are owned by the 3rd party provider and the Client agrees they may not put them on a diskette, CD, website or any other medium and offer them for redistribution or resale.</p>

<p>Upon final payment of this contract, the Client is assigned rights to use as a website the design, graphics, and text contained in the finished assembled website. Rights to photos, graphics, source code, source files, and computer programs are specifically not transferred to the Client, and remain the property of their respective owners. OnlineproZ.com and its subcontractors retain the right to display graphics and other Web design elements as examples of their work in their respective portfolios.</p>

<p><b>7. Payment Terms.</b> Until payment is received in full, OnlineproZ.com owns the website design and any files created for the website. Once OnlineproZ.co m has received payment in full, the website ownership is transferred to the Client. OnlineproZ.com will bill client monthly for work performed on an hourly basis at the rate of $75 per hour. Any deposits paid by Client will be credited against OnlineproZ.com’s fee for each monthly billing cycle. After all credits have been applied for Client’s deposit(s), payment for work done through the time of invoicing is due upon receipt of invoice.
Default in Payment. The Client shall assume responsibility for all collection of legal fees necessitated by default in payment.</p>

<p>Expenses. The Client shall reimburse OnlineproZ.com for all expenses arising from this assignment, including the payment of any sales taxes due on this assignment.</p>

<p>Deadlines. If website is not completed by the agreed date, due to lack of Client assistance, OnlineproZ.com may</p>
<ul style='list-style: none;'>
<li> a) Extend the project deadline or</li> 
<li> b) Close the project and bill Client for work completed at $75 per hour, or</li> 
<li> c) OnlineproZ.com will create a website using all content that has been provided, and send a final bill for work
completed to meet the project deadline.</li> 
</ul></br>

<p><b>8. Cancellation of Work.</b> In the event of cancellation of this assignment, ownership of all copyrights and any original artwork shall be retained by OnlineproZ.com.</p>

<p>By Client: Client may cancel work on the website at any time by submitting notice to OnlineproZ.com via certified mail. OnlineproZ.com will halt work upon receipt of certified letter from Client requesting cancellation. At that time, Client will be responsible for paying for all work completed prior to OnlineproZ.com’s receipt of cancellation request. Work completed shall be billed at an hourly rate of $75 per hour. If, at the time of request for refund, work has been completed beyond the amount of work paid for by the initial payment, the Client shall pay for work completed.
OnlineproZ.com: OnlineproZ.com reserves the right to refuse service and cancel a website project if necessary, in which case, the balance of the initial payment will be returned to Client after all applicable fees have been deducted for work completed. OnlineproZ.com may cancel project for any reason she deems necessary, including but not limited to Client not providing necessary information, text and graphics in a timely fashion to OnlineproZ.com.</p>
</div>		
