<div class="jumbotron">
  <div class="row">
    <div class="col-md-6 col-derecha">

      <div class="block">
        <label for="name">Name:</label>
        <span><input name="name" /></span>

        <label for="name">Total Cost $</label>
        <span><input name="total-cost" /></span>

        <label for="name">Time Estimate:</label>
        <span><input name="time-estimate" /></span>
      </div>

      <div class="block">
        <label for="name">Payment Amount $</label>
        <span><input id="name" name="name" /></span>

        <input type='checkbox' name="name" />
        <label id='floated' for="name">Paid in Full</label>
        
        <input type='checkbox' name="name" />
        <label id='floated' for="name">Down Payment</label>

      </div>
    </div>

    <div class="col-md-6">
      <label>Notes:</label>
    </div>
  </div>
</div>
