<div class="jumbotron">
  <div class="row">
    <div class="col-md-6 col-izquierda">

      <div class="block izquierdo">
        <label for="start-date">Start Date</label>
        <span><input name="start-date" /></span>
        <label for="name">Total Cost $</label>
        <span><input name="total-cost" /></span>
        <label for="name">Time Estimate:</label>
        <span><input name="time-estimate" /></span>
      </div>

      <div class="block izquierdo">
        <label for="name">Payment Amount $</label>
        <span><input id="name" name="name" /></span>      
        <table class='payment'>
          <tr>
            <td>
              <input type="radio" name="payment-type" id="checkboxG4" class="css-checkbox" checked="checked" />
              <label for="checkboxG4" class="css-label">Paid in Full<span class='subtext'>With Discount</span></label>
            </td>
            <td>
              <input type="radio" name="payment-type" id="checkboxG5" class="css-checkbox" />
              <label for="checkboxG5" class="css-label">Down Payment</label>
            </td>
          </tr>
        </table>
      </div>

      <div class="block izquierdo">
       <label for="name">Form of Payment</label>
       <span> <input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox" />
        <label for="checkboxG1" class="css-label-check">Auto Bill</label></span>
        <table class='payment'  style="clear:both;">
          <tr>
            <td>
              <input type="checkbox" name="checkboxG2" id="checkboxG2" class="css-checkbox"  />
              <label for="checkboxG2" class="css-label-check">Credit Card</label>
            </td>
            <td>
              <input type="checkbox" name="checkboxG3" id="checkboxG3" class="css-checkbox" />
              <label for="checkboxG3" class="css-label-check">Bank Deposit</label>
            </td>
          </tr>
        </table></br>
        <label for="name">Routing #</label>
        <span><div class='spaced-input' spaced-input>
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
        </div></span> <br>

        <label for="name">Account #</label>
        <span><div class='spaced-input' spaced-input>
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
        </div></span></br>


        <div class="signature">
        </div>
        <table class='payment' style='width: 100%;'>
          <tr>
            <td>
              <label id='floated'>Card Holder's Name</label>
            </td>
            <td>
              <label id='floated' style='text-align: right;'>Code</label>
            </td>
          </tr>
        </table>


        <div class="signature">
        </div>
        <table class='payment' style='width: 100%;'>
          <tr>
            <td>
              <label id='floated'>Card Number</label>
            </td>
            <td>
              <label id='floated' style='text-align: right;'>Exp.</label>
            </td>
          </tr>
        </table>


      </div>

      <div class="izquierdo">
        <label for="business-name">Business Name</label>
        <span><input name="business-name" /></span>
        <label for="adress">Adress</label>
        <span><input name="adress" /></span>
        <label for="phone">Phone</label>
        <span><input name="phone" /></span>
        <label for="email">Email</label>
        <span><input name="email" /></span>
        <label for="email">Print Name</label>
        <span><input name="email" /></span>

        <table class='payment'>
          <tr>
            <td>
             <label for="email">Title</label>
             <span><input name="email" /></span>
           </td>
           <td>
             <label for="email">Date</label>
             <span><input name="email" /></span>
           </td>
         </tr>
       </table>
     </div>
   </div>

   <div class="col-md-6 col-derecha">
    <div class="block derecho">
      <div class="notes">
       <label id='floated' for="notes">Notes</label></br>
<textarea name="message" id="descripcionGeocerca" cols="24" rows="20" ></textarea>
     </div>
     </div>
     <div class="derecho">
      <label id='floated'for="email">Website</label>
      <table class='payment'>
        <tr>
          <td>
            <input type="radio" name="website" id="checkboxG6" class="css-checkbox"  />
            <label for="checkboxG6" class="css-label">New</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="website" id="checkboxG7" class="css-checkbox" />
            <label for="checkboxG7" class="css-label">Existing</label>
          </td>
        </tr>
      </table>
      <label for="url">URL</label>
      <span><input name="url" /></span>
      <label for="ftp">FTP</label>
      <span><input name="ftp" /></span>
      <label for="user">Username</label>
      <span><input name="user" /></span>
      <label for="user">Password</label>
      <span><input name="password" /></span>
      <label id='floated'>Signature of Advertiser</label></br></br>
      <div class="signature">
      </div>

    </div>
  </div>
</div>
</div>
